.color-h1 {
    color: rgba(255,255,255,0.87);
    padding-top: 2%;
    padding-left: 1.5%;
    
  }
  


.buttonAdd {

  background-color:transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5%;
 
}

.mat-mdc-mini-fab:not(.mdc-fab--extended) { 
  width: 100%;
  background-color: transparent;
  color: rgba(255,255,255,0.87);
}
.alignDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-row{
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  gap:2rem;
  

}