<div class="alignDiv">
    <h1 class="color-h1">{{title}}</h1>
    
    
    
    <div class="buttonAdd"> Agregar Reserva
    <button class ="buttonFab"  (click)="addReserva()"  mat-mini-fab color="grey" aria-label="Example icon button with a filter list icon">
      <mat-icon>add</mat-icon>
    </button>
    
    </div>
    </div>
    <ol>
    
      @for (item of reservas; track $index)
      {
      <app-reservas-v-card [reserva]="item" />
      }@empty {
        <p>No hay registros</p>
      }
    </ol>