<div class ="toolbar">
    
    <div class="align-row">  <mat-icon  class="color-h1">perm_identity</mat-icon><h3 class="color-h1">{{username??''}}</h3> <button class="styleButton" mat-button routerLink="/reservasComercial">Reservas</button>  </div>
   

    <img clas ="imageLogo"src="./assets/icono.png" width="20%">

    <button class="styleButton" mat-button *ngIf="isAuthenticated" (click)="logout()">Cerrar sesion</button>

</div>
<!-- Agregamos tambien el router para trabajar con este layout -->
<router-outlet/>
