.center{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  }

  .align-row{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin:1rem
    

  }

  .titlePag{
    padding: 3%;
    color:rgba(255,255,255,0.87)
  }